html {
    background: #555 url('../img/casco_colonial_coro_by_david_hernandez.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    min-height:100%;

    /* Propiedades agregadas el 2015-02-16 */
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering:optimizeLegibility;          /* Propiedad NO estándar para mejorar el renderizado del*/
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(https://fonts.gstatic.com/s/raleway/v9/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2'), url(https://fonts.gstatic.com/s/raleway/v9/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff');
}

@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8fk_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(https://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8RsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

/*--------------------------------------------------------------------------------------------------------------------*\
  Menú superior de la página
\*--------------------------------------------------------------------------------------------------------------------*/
ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: .5em 4px 17px 0;
    list-style: none;
}

ul li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
    background: #fff;
    cursor: pointer;
    opacity: .75;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
ul li:hover a {
    background: #222;
    color: #fff;
}

ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -transition: opacity 0.5s;
}

ul a {
    display:block;
    padding: 15px 20px;
    text-decoration:none;
}

ul a:visited { color:#ababab; }

ul li ul li {
  display: block; 
}

ul li ul li:hover a {
  background: #fff;
  color:#000;
}

ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

/*--------------------------------------------------------------------------------------------------------------------*\
  Título centrado
\*--------------------------------------------------------------------------------------------------------------------*/
main{
    width: 35%;
    position: absolute;
    left: calc(50% - 17.5%);
    top: calc(50% - 15%);
    background:#000;
    opacity: .65;
    padding: 1em 0;
}

h1 {
    color: #fff;
    text-align: center;
    font-family: "Poiret One";
    font-size: 7em;
    padding: 0;
    margin: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*\
  Pie de página
\*--------------------------------------------------------------------------------------------------------------------*/
footer{
    background:#000;
    height: 4vh;
    left: 0;
    opacity: .75;
    position: absolute;
    top: calc(100vh - 4vh);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.footer {
    color: #fff;
    font-family: "Raleway";
    font-size: .8em;
    margin-left: 2%;
}

.copyleft{
    height:12px;
    width:12px;
}

footer span{
    padding: 0 1em;
    float:right;
}

/*--------------------------------------------------------------------------------------------------------------------*\
  Media Queries
\*--------------------------------------------------------------------------------------------------------------------*/
@media (min-device-width : 320px) and (max-device-width : 480px) {
    main{
        z-index: -9999;
        width: 18em;
        position: absolute;
        left: calc(50% - 9em);
        top: calc(50% - 15%);
        background:#000;
        opacity: .65;
        padding: 1em 0;
    }

    h1 {
        color: #fff;
        text-align: center;
        font-family: "Poiret One";
        font-size: 4em;
        padding: 0;
        margin: 0;
    }

    .footer {
        font-size: .55em;
        margin-left: 2%;
    }

    .copyleft{
        height:.85em;
        width:.85em;
    }
}

@media (min-device-width : 481px) and (max-device-width: 768px) {
    main{
        z-index: -9999;
        width: 20em;
        position: absolute;
        left: calc(50% - 10em);
        top: calc(50% - 15%);
        background:#000;
        opacity: .65;
        padding: 1em 0;
    }

    h1 {
        color: #fff;
        text-align: center;
        font-family: "Poiret One";
        font-size: 4.5em;
        padding: 0;
        margin: 0;
    }

    .footer {
        font-size: .75em;
        margin-left: 2%;
    }

    .copyleft{
        height:.85em;
        width:.85em;
    }
}

@media (min-device-width : 769px) and (max-device-width: 1024px) {
    main{
        z-index: -9999;
        width: 24em;
        position: absolute;
        left: calc(50% - 12em);
        top: calc(50% - 15%);
        background:#000;
        opacity: .65;
        padding: 1em 0;
    }

    h1 {
        color: #fff;
        text-align: center;
        font-family: "Poiret One";
        font-size: 5.5em;
        padding: 0;
        margin: 0;
    }

    .footer {
        font-size: .8em;
        margin-left: 2%;
    }

    .copyleft{
        height:.95em;
        width:.95em;
    }
}

@media (min-device-width : 1025px) and (max-device-width: 1200px) {
    main{
        z-index: -9999;
        width: 35%;
        position: absolute;
        left: calc(50% - 17.5%);
        top: calc(50% - 15%);
        background:#000;
        opacity: .65;
        padding: 1em 0;
    }

    h1 {
        color: #fff;
        text-align: center;
        font-family: "Poiret One";
        font-size: 5.5em;
        padding: 0;
        margin: 0;
    }

    .footer {
        font-size: .8em;
        margin-left: 2%;
    }

    .copyleft{
        height:.95em;
        width:.95em;
    }
}