# Archivos temporales
#--------------------------------------------------------
*.swp
*.swo
*~
 
# Comprimidos
#--------------------------------------------------------
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Bitácoras y Bases de datos
#--------------------------------------------------------
*.log
*.sql
*.sqlite

# Composer
#--------------------------------------------------------
composer.phar
vendor/